@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Chonburi&family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor01: #4b2e2b;
  --cor02: #d9a066;
  --cor03: #f2e8d5;
  --cor04: #faf8f5;
  --cor05: #e27d60;
  --cor06: #355c7d;
  --fontTitulo01: "Aboreto", serif;
  --fontTitulo02: "Chonburi", serif;
  --fontTexto: "Raleway", serif;
  --fontLogo: "Lobster", serif;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--cor03);
}

.cabeçalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--cor01);
}

.cabeçalho-imagem {
  padding-left: 30px;
  width: 40px;
}

.cabeçalho-menu {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding-right: 30px;
}

.cabeçalho-menu-item {
  text-decoration: none;
  color: var(--cor03);
  font-family: var(--fontTexto);
}

.conteudo {
  margin: auto;
  max-width: 900px;
}

.conteudo-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.conteudo-hero-escrito {
  color: #4b2e2b;
}

.conteudo-hero-escrito-titulo {
  margin: 5px;
}
