@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Chonburi&family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor01: #4b2e2b;
  --cor02: #d9a066;
  --cor03: #f2e8d5;
  --cor04: #faf8f5;
  --cor05: #e27d60;
  --cor06: #355c7d;
  --fontTitulo01: "Aboreto", serif;
  --fontTitulo02: "Chonburi", serif;
  --fontTexto: "Raleway", serif;
  --fontLogo: "Lobster", serif;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--cor03);
}

a {
  text-decoration: none;
}

.cabeçalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--cor01);
}

.cabeçalho-imagem {
  padding-left: 30px;
  width: 40px;
}

.cabeçalho-menu {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding-right: 30px;
}

.cabeçalho-menu-item {
  text-decoration: none;
  color: var(--cor03);
  font-family: var(--fontTexto);
}

.conteudo {
  margin: auto;
}

.conteudo-hero {
  text-align: center;
  padding: 20px;
  height: 90vh;
  background-image: url(imagens/cafefundo.jpg);
  background-size: cover;
  background-position: right center;
}

.conteudo-hero-escrito {
  padding-top: 30vh;
  color: var(--cor03);
}

.conteudo-hero-escrito-titulo {
  font-family: var(--fontTitulo01);
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.conteudo-hero-escrito-subtitulo {
  font-family: var(--fontTexto);
  font-size: 1.5em;
  margin-bottom: 20px;
}

.conteudo-hero-escrito-botao {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

a > .botao {
  max-width: cover;
}

.botao {
  padding: 10px;
  border: none;
  background-color: var(--cor02);
  border-radius: 5px;
  color: var(--cor04);
  font-weight: 700;
  font-family: var(--fontTexto);
}

.botao:hover {
  background-color: var(--cor01);
  color: var(--cor04);
  transition: 0.5s;
}

.conteudo-sobre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 110vh;
  color: var(--cor03);
  background-color: var(--cor01);
  border-bottom: 2px solid var(--cor02);
  background-image: url(imagens/logotipo2.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-position-y: 55vh;
  background-size: 40px;
}

.conteudo-sobre-escrito {
  max-width: 500px;
}

.conteudo-sobre-escrito-titulo {
  font-family: var(--fontTitulo02);
  font-size: 2.5em;
  padding-bottom: 40px;
}

.conteudo-sobre-escrito-paragrafo {
  font-family: var(--fontTexto);
  font-size: 1.2em;
}

.conteudo-sobre-escrito-imagem {
  display: flex;
  align-items: center;
  background-color: var(--cor02);
}

.conteudo-sobre-escrito-imagem > img {
  padding: 5px;
  width: 30vw;
}

.conteudo-cardapio {
  background-color: var(--cor01);
  padding-bottom: 20px;
}

.conteudo-cardapio-apresentacao {
  padding: 40px 20px;
  text-align: center;
  color: var(--cor03);
}

.conteudo-cardapio-apresentaçao-titulo {
  font-family: var(--fontTitulo01);
  padding-bottom: 10px;
  font-size: 5vh;
}

.conteudo-cardapio-apresentaçao-subtitulo {
  font-family: var(--fontTexto);
}

.conteudo-cardapio-card {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: var(--cor03);
  margin-bottom: 20px;
}

.conteudo-cardapio-card:hover {
  box-shadow: 0px 0px 10px var(--cor02);
}

.conteudo-cardapio-card-img {
  max-width: 250px;
}

.conteudo-cardapio-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.conteudo-cardapio-card-info-nome {
  font-family: var(--fontTitulo02);
  color: var(--cor01);
}

.conteudo-cardapio-card-info-caracteristica {
  font-family: var(--fontTexto);
  font-weight: bolder;
  color: var(--cor05);
  padding: 5px 0px 10px 0px;
}

.conteudo-cardapio-card-info-descricao {
  font-family: var(--fontTexto);
  color: var(--cor01);
  padding: 10px 0px;
}

.conteudo-cardapio-card-info-preco {
  display: block;
  font-family: var(--fontTexto);
  font-weight: bolder;
  color: var(--cor01);
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.conteudo-cardapio-card-info-botao {
  width: 100px;
}

.conteudo-cardapio-botao {
  display: block;
  background-color: var(--cor05);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.conteudo-cardapio-botao:hover {
  background-color: var(--cor04);
  color: var(--cor05);
  transition: 0.5s;
}

.conteudo-extra {
  padding: 10px;
}

.conteudo-extra-titulo {
  text-align: center;
  margin: 40px 0px;
  font-family: var(--fontTitulo02);
  font-size: 2em;
  color: var(--cor06);
}

.conteudo-extra-info-texto {
  font-family: var(--fontTexto);
  font-weight: 500;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.conteudo-extra-info-texto > strong {
  color: var(--cor06);
}

.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
}

.carrossel {
  display: flex;
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  flex-direction: row;
  border-radius: 30px;
  padding: 10px 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.carrossel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel-slide {
  min-width: 100%;
  transition: transform 0.5;
}

.carrossel-slide img {
  width: 100%;
  display: block;
}

.carrossel-nav-button {
  background: var(--cor03);
  color: var(--cor06);
  font-family: var(--fontTexto);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.eventos {
  margin-top: 100px;
  margin-left: -10px;
  margin-right: -10px;
}

.eventos-show {
  display: flex;
  justify-content: space-around;
  background-color: var(--cor06);
  padding: 50px 10px;
  align-items: center;
}

.eventos-show-icone > img {
  width: 30vw;
  min-width: 30px;
  max-width: 300px;
}

.eventos-show-texto {
  display: flex;
  gap: 10px 0px;
  flex-direction: column;
  color: var(--cor04);
  text-align: center;
  font-family: var(--fontTitulo01);
}

.eventos-show-texto-titulo {
  color: var(--cor04);
  text-align: center;
  font-family: var(--fontTitulo02);
  font-size: 3vw;
}

.eventos-show-texto-dia {
  font-size: 3vw;
}

.eventos-show-texto-hora {
  font-size: 3vw;
}

/**/

.eventos-workshop {
  display: flex;
  justify-content: space-around;
  background-color: var(--cor06);
  padding: 50px 10px;
  align-items: center;
}

.eventos-workshop-icone > img {
  width: 30vw;
  min-width: 30px;
  max-width: 300px;
}

.eventos-workshop-texto {
  display: flex;
  gap: 10px 0px;
  flex-direction: column;
  color: var(--cor04);
  text-align: center;
  font-family: var(--fontTitulo01);
  max-width: 600px;
}

.eventos-workshop-texto-titulo {
  color: var(--cor04);
  text-align: center;
  font-family: var(--fontTitulo02);
  font-size: 3vw;
}

.eventos-workshop-texto-dia {
  font-size: 3vw;
}

.eventos-workshop-texto-hora {
  font-size: 3vw;
}

.eventos-encontro {
  display: flex;
  justify-content: space-around;
  background-color: var(--cor03);
  padding: 50px 10px;
  align-items: center;
}

.eventos-encontro-icone > img {
  width: 30vw;
  min-width: 30px;
  max-width: 300px;
}

.eventos-encontro-texto {
  display: flex;
  gap: 10px 0px;
  flex-direction: column;
  color: var(--cor06);
  text-align: center;
  font-family: var(--fontTitulo01);
  max-width: 600px;
}

.eventos-encontro-texto-titulo {
  color: var(--cor06);
  text-align: center;
  font-family: var(--fontTitulo02);
  font-size: 3vw;
}

.eventos-encontro-texto-dia {
  font-size: 3vw;
}

.eventos-encontro-texto-hora {
  font-size: 3vw;
}

.playlist {
  display: flex;
  justify-content: center;
  margin: 80px 0px;
}

.playlist-botao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--cor05);
  border-radius: 100px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
}

.playlist-botao > img {
  color: var(--cor04);
  padding: 0px 10px;
  width: 20px;
}

.playlist > p {
  color: var(--cor04);
}

.depoimento-titulo {
  font-family: var(--fontTitulo01);
  font-size: 2em;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  max-width: 800px;
  color: var(--cor01);
  margin-bottom: 80px;
  border-top: 2px solid var(--cor01);
}

.depoimento-clientes {
  position: relative;
  padding: 50px 0;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--cor05);
  transform: translateY(-50%);
}

.depoimento-clientes-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

.cliente {
  background-color: var(--cor01);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  text-align: center;
}

.depoimento-clientes-container-lucas {
  color: var(--cor03);
}

.claro {
  background-color: var(--cor02);
  color: var(--cor01);
}

.foto {
  width: 150px;
}

.nome {
  font-family: var(--fontTexto);
  font-size: medium;
  padding: 10px 0px;
}

.estrelas {
  padding-bottom: 10px;
}

.comentario {
  font-family: var(--fontTexto);
  font-weight: 600;
}

.contato {
  margin-top: 150px;
  padding-left: 20px;
}

.contato-info {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.contato-info-titulo {
  font-family: var(--fontTitulo02);
  font-size: 2em;
  padding-bottom: 40px;
}

.contato-info-descricao {
  font-family: var(--fontTexto);
  font-weight: 600;
  font-size: 1em;
  padding-bottom: 20px;
}

.dado {
  font-family: var(--fontTexto);
  font-weight: 500;
  padding-bottom: 10px;
}

.contato-info-horario {
  padding-top: 10px;
}

.contato-info-horario-lista {
  list-style-position: inside;
  padding-bottom: 10px;
}
